
header {
    text-align: center;
    margin-bottom: 20px;
}

#show-me-how-button {
    display:none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.modal-content {
    padding: 20px;
}


.modal-footer {
    padding: 20px;
}


.modal-content button {
    margin-bottom: 10px;
}


.recipe,
.video {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}